* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

:root {
  --dark-green: #273f2b;
  --light-green: #68ef3f;
  --lighter-green: #3cff00;
  --white: #ffffff;
  --very-light-green: #dfffcb;
  --greyish-white: #d9deca;
  --text-grey: #7d8c80;
}

a {
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

li {
  list-style: none;
}

img[src="./assets/images/Region - carousel → Button - previous slide.svg"] {
  cursor: pointer;
}

img[src="./assets/images/Region - carousel → Button - next slide.svg"] {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  padding-block-start: 10px;
  background-color: var(--dark-green);
}

header > div {
  background-color: var(--dark-green);
  border-radius: 60px;
  position: fixed;
  z-index: 5;
}

.header-button {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  text-align: center;
  background-color: transparent;
}

.header-button:hover {
  border: 1px solid var(--light-green);
}

.header-button > img {
  width: 30px;
  height: 30px;
}

.section-one {
  position: relative;
}

.section-one > img:first-of-type {
  position: absolute;
  top: 118.19px;
  left: 168.8px;
}

.section-one > img:nth-of-type(2) {
  position: absolute;
  top: 354.59px;
  left: 214.88px;
}

.section-one > img:nth-of-type(3) {
  position: absolute;
  top: 605.81px;
  left: 153.44px;
}

.section-one > img:nth-of-type(4) {
  position: absolute;
  top: 118.19px;
  right: 108.8px;
}

.section-one > img:nth-of-type(5) {
  position: absolute;
  top: 354.59px;
  right: 128.8px;
}

.section-one > img:last-of-type {
  position: absolute;
  top: 605.81px;
  right: 108.8px;
}

.section-one__h1 {
  margin-block-start: 124px;
  text-transform: uppercase;
  width: 20ch;
}

.section-one {
  background-color: var(--dark-green);
}

.section-one__div {
  margin-block-end: 96px;
}

.section-one__p {
  margin-block: 31.5px 32.05px;
  width: 747.53px;
}

/* Bootstrap add-ons */

.nav-link {
  font-size: 15.25px;
  font-weight: 500;
}

.fs-p {
  font-size: 17.16px;
}

.text-dark-green {
  color: var(--dark-green);
  margin: 0;
}

.bg-light {
  padding: 16px 24px;
  border-radius: 36px;
}

.bg-transparent {
  padding: 16px 24px;
  border-radius: 36px;
}

.text-grey {
  color: var(--text-grey);
  margin: 0;
}

.text-light-green {
  color: var(--light-green);
}

.text-light-grey {
  color: #a3a896;
}

.offcanvas {
  width: 300px !important;
  background-color: var(--dark-green);
}

/* Bootstrap add-ons */

.light-green-bg {
  width: fit-content;
  background-color: var(--light-green);
  left: 1262.22px;
  padding: 16px 23.8px 16px 24px;
  border-radius: 28px;
  transition: all 0.5s ease;
}

.light-green-bg:hover {
  background-color: var(--lighter-green);
}

.light-white-bg {
  background-color: var(--white);
  left: 1262.22px;
  padding: 16px 23.8px 16px 24px;
  border-radius: 28px;
  transition: all 0.5s ease;
}

.light-white-bg:hover {
  background-color: var(--greyish-white);
}

.dark-green-bg {
  background-color: var(--dark-green);
}

.section-two {
  margin-block-start: 64px;
}

.section-two__div {
  overflow: hidden;
  margin-block: 76px 197.14px;
  /* animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5000ms;
 */
}

/* @keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.section-two__div img:not(:first-of-type) {
  margin-inline: 20px;
}

.sectio-two__div img:last-of-type {
  margin: 0;
}

.section-three {
  position: relative;
}

.section-three__div---div {
  cursor: pointer;
}

.section-three__div {
  position: absolute;
  top: 90px;
  transform: translateY(50%);
  padding: 12px;
  border-radius: 48px;
}

.section-three__h2 {
  margin-block-end: 63.59px;
}

.section-three__p {
  margin-block: 48px;
  width: 576px;
}

.section-three__li {
  display: flex;
}

.section-three__link {
  border-radius: 28px;
  padding: 16px 24px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.section-three__link:hover {
  background-color: #45624a;
}

.section-three__li::before {
  content: url(../assets/images/div.dot.svg);
  margin-inline-end: 20px;
}

.section-three__div-2 {
  padding-block: 156px;
  padding-inline-start: 120px;
}

.section-three__div-h2 {
  font-size: 38.28px;
}

.section-three__div-div {
  margin-block-start: 55px;
}

.btn-group {
  display: none !important;
}

.btn-group li {
  cursor: pointer;
}

.btn-group btn:focus {
  border: 1px solid var(--dark-green) !important;
  color: var(--dark-green) !important;
}

.section-four {
  margin-block-start: 220px;
  margin-block-end: 128.7px;
  position: relative;
}

.section-four img {
  width: 100%;
}

.section-four__p {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: fit-content;
  background-color: #d9deca;
  padding: 24px 32px;
  border-radius: 36px;
}

.grey-bg {
  background-color: #f2f5eb;
}

.lighter-green-bg {
  background-color: var(--very-light-green);
}

.section-five__div {
  width: 469px;
  height: 456px;
  cursor: pointer;
  margin-inline: 5px;
}

.section-five__div:hover {
  transform: scale(105%);
}

.section-five__h2 {
  font-weight: 700;
  font-size: 55.47px;
  width: 745.56px;
}

.section-five__h2 + p {
  margin-block-start: 32px;
  margin-block-end: 63.83px;
}

.section-six__h3 {
  width: 473.61px;
  font-size: 38.13px;
}

.section-five__p {
  margin-block-start: 230px;
}

.section-six__h3 + p {
  width: 489.15px;
  font-size: 17.02px;
}

.section-six__div {
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.section-six__div > img {
  height: 102%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.section-six__div-2 {
  display: flex;
  gap: 24px;
}

.section-six__div-2 > div {
  width: 50%;
}

.section-six__div-2 > div > div {
  width: 100%;
}

.section-six__p {
  margin-block-start: 48px;
}

.section-six__div--height {
  height: 412px;
}

.section-six__div--p {
  width: 501.2px;
  margin-block-start: 63.5px;
}

.section-six__div--p + a {
  text-decoration: underline;
}

.section-six__div--small {
  font-weight: 700;
  font-size: 37.81px;
}

.w-fit-content {
  width: fit-content;
  border-radius: 28px;
  padding: 16px 24px;
}

.section-seven__div-1 {
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: grid;
  grid-template-columns: repeat(6, 461.52px);
  margin-block-start: 114.38px;
}

.section-seven__div-1::-webkit-scrollbar {
  width: 0; /* Remove scrollbar width */
  height: 0; /* Remove scrollbar height */
}

.section-seven__div {
  border-radius: 8px;
  background-color: #f2f5eb;
  padding: 40px;
  height: 512px;
}

.section-seven__div--p {
  color: var(--dark-green);
  font-weight: 700;
  font-size: 22.88px;
  text-align: start;
}

img[src="./assets/images/div.dot.svg"] {
  width: 16px;
  height: 16px;
}

.section-seven__div-div-1 {
  margin-block-start: 176.5px;
}

.section-seven__div-div-2 {
  margin-block-start: 232.5px;
}

.section-seven__div-div-3 {
  margin-block-start: 264.5px;
}

.section-seven__div-div-4 {
  margin-block-start: 100px;
}

.section-seven__div-div-5 {
  margin-block-start: 168px;
}

.prev,
.next {
  background-color: transparent;
  border: none;
}

.section-eight {
  margin-block-start: 127px;
}

.section-eight__div {
  padding: 120px;
}

.section-eight__div--h3 {
  text-transform: uppercase;
  font-weight: 700px;
  width: 668.37px;
  font-size: 54.69px;
}

.div-tag {
  padding: 20px 24px;
  border-radius: 8px;
  background-color: #caf1b1;
  width: fit-content;
}

.section-eight__h6 {
  font-size: 22.69px;
}

.section-eight__div--p {
  margin-block: 16px 48px;
}

.section-eight__a {
  background-color: var(--dark-green);
  left: 1262.22px;
  padding: 16px 23.8px 16px 24px;
  border-radius: 28px;
  transition: all 0.5s ease;
}

.section-eight__a:hover {
  background-color: #517457;
}

.section-eight__div--margin {
  margin-block-start: 63.83px;
}

.section-eight__div--width {
  width: 800px;
}

.section-nine__div--h2 {
  font-weight: 700;
  width: 30ch;
}

.section-nine__div-a {
  background-color: #dfffcb;
  left: 1262.22px;
  padding: 16px 23.8px 16px 24px;
  border-radius: 38px;
  transition: all 0.5s ease;
  margin-block: 63.83px 64.17px;
}

footer {
  margin-block-start: 128px;
}

.footer-section {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--dark-green);
  padding: 84px 64px;
}

.footer-section__div-1 {
  margin-block-end: 48px;
}

.footer-section__div-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
  background-color: #384e3c;
  border-radius: 40px;
}

.footer-section__div-2--p {
  font-size: 15.13px;
  margin-inline: 14px;
}

footer li {
  font-size: 15.38px;
}

.footer-section__div-3--color {
  color: #939f95;
}

@media screen and (max-width: 1515px) {
  .section-five__div-1 {
    display: flex;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 1430px) {
  .section-one > img:first-of-type {
    position: absolute;
    top: 118.19px;
    left: 68.8px;
  }

  .section-one > img:nth-of-type(2) {
    position: absolute;
    top: 354.59px;
    left: 114.88px;
  }

  .section-one > img:nth-of-type(3) {
    position: absolute;
    top: 605.81px;
    left: 53.44px;
  }

  .section-one > img:nth-of-type(4) {
    position: absolute;
    top: 118.19px;
    right: 108.8px;
  }

  .section-one > img:nth-of-type(5) {
    position: absolute;
    top: 354.59px;
    right: 128.8px;
  }

  .section-one > img:last-of-type {
    position: absolute;
    top: 605.81px;
    right: 108.8px;
  }
}

@media screen and (max-width: 1400px) {
  .header-div ul {
    flex: 1;
  }
}

@media screen and (max-width: 1275px) {
  .section-six__div--p {
    width: 100%;
  }

  .section-six__div--flex {
    justify-content: end !important;
  }

  .section-eight__div--width {
    width: 100%;
  }
}

@media screen and (max-width: 1265px) {
  .section-one > img:first-of-type {
    position: absolute;
    top: 98.19px;
    left: 68.8px;
  }

  .section-one > img:nth-of-type(2) {
    position: absolute;
    top: 290px;
    left: 20.88px;
  }

  .section-one > img:nth-of-type(4) {
    position: absolute;
    top: 98.19px;
    right: 108.8px;
  }

  .section-one > img:nth-of-type(5) {
    position: absolute;
    top: 290px;
    right: 78.8px;
  }
}

@media screen and (max-width: 1380px) {
  .section-three__div-2 {
    padding-inline-start: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .section-three__div-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .section-three__div-h2 {
    text-align: center !important;
    width: 100%;
  }

  .section-three__p {
    text-align: center !important;
    width: 100%;
  }
  /* 
  .section-three__div-div {
    text-align: center;
  } */
}

@media screen and (max-width: 1200px) {
  .header-div ul {
    display: none;
  }

  .header-a {
    display: none;
  }

  .header-button {
    display: block;
  }

  .footer-section__div-1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 1160px) {
  .section-six__div {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-six__div > div {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .section-six__div--flex {
    justify-content: start !important;
  }
}

@media screen and (max-width: 1020px) {
  .section-eight__div {
    padding-inline: 20px;
  }

  .footer-section {
    padding-inline: 10px;
  }
}

@media screen and (max-width: 940px) {
  /* .footer-section__div-2 {
    border: none !important;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
  } */
}

@media screen and (max-width: 905px) {
  .section-six__div-2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .section-six__div-2 > div {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .display-options-none {
    display: none !important;
  }

  .btn-group {
    display: block !important;
  }
}

@media screen and (max-width: 810px) {
  .section-one__h1 {
    width: 100%;
  }

  .section-one__p {
    width: 100%;
  }

  .section-one > img:first-of-type {
    position: absolute;
    top: 98.19px;
    left: 68.8px;
  }

  .section-one > img:nth-of-type(2) {
    position: absolute;
    top: 360px;
    left: 20.88px;
  }

  .section-one > img:nth-of-type(4) {
    position: absolute;
    top: 98.19px;
    right: 108.8px;
  }

  .section-one > img:nth-of-type(5) {
    position: absolute;
    top: 360px;
    right: 18.8px;
  }
}

@media screen and (max-width: 800px) {
  img[src="./assets/images/Nav → Link → 6569a404c092bd33d2786511_logo-ex-light.svg.svg"] {
    width: 100px !important;
  }

  .section-five__h2 {
    width: 100%;
  }

  .section-four__p {
    width: 80%;
    font-size: 12px;
    padding: 8px;
  }
}

@media screen and (max-width: 780px) {
  .section-eight__div--h3 {
    width: 100%;
  }

  .footer-section__div-3 {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
}

@media screen and (max-width: 765px) {
  .header-div {
    display: flex;
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 730px) {
  .footer-section__div-2--p {
    text-align: center;
  }
}

@media screen and (max-width: 705px) {
  .section-seven > div:first-of-type div img:first-of-type {
    width: 100%;
  }

  .section-one > img:nth-of-type(2) {
    position: absolute;
    top: 440px;
    left: 20.88px;
  }

  .section-one > img:nth-of-type(5) {
    position: absolute;
    top: 440px;
    right: 18.8px;
  }
}

@media screen and (max-width: 650px) {
  .section-six__div > div:first-of-type {
    width: 100% !important;
  }

  .section-six__h3 {
    width: 100%;
  }

  .section-six__p {
    width: 100% !important;
  }

  .image-display-none {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-div {
    width: 90% !important;
  }

  .footer-section__div-2 {
    border: none !important;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 570px) {
  .section-one__div-2 {
    display: flex !important;
    align-items: center;
  }

  .section-one__div {
    display: flex !important;
  }
}

@media screen and (max-width: 540px) {
  .section-five__div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-nine__div--h2 {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  img[src="./assets/images/Tabpanel → 656dbec30f6eba5989e8d46a_Visual-Tracking-EN-Hero.png.svg"] {
    display: none;
  }
}

@media screen and (max-width: 470px) {
  .section-eight__div--margin {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 580px) {
  .section-one__div-2 {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .section-one__div-2 > a {
    width: 100%;
  }

  .section-one__div {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px !important;
    margin-block-start: 20px;
  }

  .section-one__div > div {
    margin: 0 !important;
  }
}

@media screen and (max-width: 440px) {
  .section-six__div--height {
    text-align: center !important;
  }

  .section-six__div-div {
    display: flex;
    flex-direction: column;
  }

  .section-six__div--p {
    margin-block-start: 20px;
    text-align: center !important;
  }

  .section-three__link {
    font-size: 10px;
    padding: 14px 24px;
  }

  .section-three__div---div > p {
    font-size: 10px !important;
  }

  .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 8px;
  }

  .btn-group > .btn {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 480px) {
  .fs-p {
    font-size: 13px;
  }

  .section-three {
    padding-inline: 0px !important;
  }

  .section-three__div-2 {
    padding-block-start: 90px;
    padding-inline: 10px !important;
    border-radius: 0px !important;
  }

  .section-three__li {
    font-size: 13px;
  }

  .section-six {
    padding-inline: 0px !important;
  }

  .section-six div {
    border-radius: 0px !important;
    width: 100%;
  }

  .section-six__div--height {
    width: 100%;
  }

  .section-six__div-2 {
    width: 100%;
    padding-inline: 0px !important;
  }

  .section-six__div-2 > div {
    padding: 0 !important;
    width: 100%;
  }

  .section-eight {
    padding-inline: 0px !important;
  }

  footer.px-5 {
    padding-inline: 0px !important;
  }

  .footer-section {
    border-radius: 0px;
    margin-block-end: 0px !important;
  }
}

@media screen and (max-width: 370px) {
  .section-one__div {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px !important;
    margin-block-start: 20px;
  }

  .section-one__div > div {
    margin: 0 !important;
  }

  .section-eight__div--h3 {
    font-size: 40px;
    text-align: center !important;
  }

  .section-eight__div--p {
    text-align: center !important;
  }
}

@media screen and (max-width: 355px) {
  footer-section__div-3--color {
    text-align: center;
  }

  .list-unstyled {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
  }

  .list-unstyled > li {
    margin: 0 !important;
  }

  .section-eight__h6 {
    font-size: 16px;
  }
}
